/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

/* Page styles */
body {
    font-family: 'Courier New', monospace;
    background-color: #17AAE9;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0 0 1.5em;
}

/* Navigation Menu */
.menu {
    background-color: #1a70c2;
    padding: 1.5rem 0;
    margin-bottom: 3rem;
    text-align: center;
}

.menu h1 {
    color: #ffffff;
    margin: 0;
    padding: 1.5rem 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.menu ul li {
    display: inline-block;
    margin: 0 15px;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* Header styles */
h1 {
    font-size: 2.5rem;
    color: #0075FC;
}

h2 {
    font-size: 2rem;
    color: #0075FC;
}

h3, h4 {
    color: #164B87;
    font-weight: 700;
}

/* New text styling for background and padding */
h2, h3, h4, p {
    background-color: white; /* White background */
    padding: 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow */
}

/* Photo styles */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 2rem;
    border-radius: 1rem;
    object-fit: cover;
    background-color: white; /* Added white background */
    padding: 10px; /* add padding around images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Map styles */
#map {
    width: 100%; /* Ensure full width */
    height: 400px; /* Ensure correct height */
    border-radius: 8px; /*rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*shadow effect */
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 1rem;
    }

    .menu {
        padding: 0.5rem 0;
    }

    img {
        max-width: 100%;
    }
}