/* my page styles*/
body{
	font-family: 'Courier New', monospace;
	background-image: url("rainonwindows.jpg");
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, p {
	margin: 0 0 1.5em;
}

.container{
	width:80%;
	margin 0 auto;
	padding 2rem;
	text-align: center;
}

/* Navigation Menu */
.menu{
	background-color: #1a70c2;
	padding: 1.5 rem 0;
	margin-bottom: 3rem;
}

.menu h1{
	color: #ffffff;
	margin-bottom: 1rem;
}

.menu ul{
	list-style: none;
	padding: 0;
}

.menu ul li{
	display inline;
	margin-right:1.5rem;
}
.menu ul li a{
	color: #ffffff;
	text-decoration: none;
	font-size: 1.2rem;
}

/* header styles */
h1{
	font-size: 2.5 rem;
	color: #0075FC;
}
h2{
	font-size: 2rem;
	color:#0075FC;
}
h3,h4{
	color: #164B87;
	font-weight: 700;
}
/* info styles */
.introduction-section, .education, .hobbies, .place-of-work{
	background-color: #ffffff;
	border-radius: 1rem;
	padding: 2rem;
	margin-bottom: 3rem;
}
p, ul{
	font-size: 1.0rem;
}
